@model IEnumerable<Engrams.Models.Memory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
<script src="@Url.Content("~/Scripts/app/memory.js")"></script>
}

<h2>All Memories</h2>

<legend>memories by tags</legend>
<div>
    @Html.DropDownList("Tags", "Select a Tag")
    <input type="text" name="txtTag" id="txtTag"/>
    <p class="hint">Begin with "A"</p>
</div>
<br/>
<div id="target">
</div>
<div id="log">
</div>

<div class="form-group">
    <div class="col-md-2">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
    <div class="col-md-10">
        &nbsp;
    </div>
</div>
